/* Vedor editor v9 defaults */
html,body {
	padding: 0px;
	margin: 0px;
}
body {
	font-size: 11px;
	color: #666;
	font-family: Arial;
}

fieldset {
	border: 0px;
}
legend {
	font-weight: bold;
}

.formField {
	margin-bottom: 5px;
}

.formTextarea textarea,
.formText input,
.formSelect select {
	width: 100%;
}

.formTextarea label,
.formText label {
	width: 100%;
	display: inline-block;
}

.vdContent input.text,
.vdContent select {
	background-color: white;
	height: auto;
	border: auto;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

.vdContent fieldset fieldset {
	width: inherit;
	padding: 0px;
	margin: 0px;
}