<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         bootstrap="tests/bootstrap.php"
         strict="true"
         verbose="true"
         timeoutForSmallTests="10">
  <testsuites>
    <testsuite name="Automated testing">
      <directory suffix="Test.php">tests/unit/</directory>
    </testsuite>
  </testsuites>
</phpunit>
