TD {
	font-size: 13px;
	font-face:sans-serif,verdana,helvetica;

}
BODY 	{
	margin: 0px;
	padding: 0px;
}
TABLE	{
 FONT: 13px sans-serif;
	BACKGROUND-COLOR: #dfdfdf;
	margin: 0px;
	padding: 1px 1px 2px 2px;
	border: 2px outset;
	border-color:#CFCFCF;
}
@import: url(background.css);
