BODY, TD, TH {
	font-size: 13px;
	font-family: helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: buttonface;
}
A {
	text-decoration: none;
}
.border-top	{
	border: 1px solid buttonhighlight;
	border-right: 1px solid buttonshadow;
	border-bottom: 2px groove buttonhighlight;
}
.border-bottom	{
	border: 1px solid buttonshadow;
	border-left: 1px solid buttonhighlight;
	border-top: 2px groove buttonhighlight;
}