
BODY {
	background-color : #FFFFFF;
	margin: 0px;
}

TH,TD,LI,P {
	font-size : 10pt;
	font-family : verdana,helvetica, arial, sans-serif;
}

H4 {
	font-weight : bold;
	font-size : 10pt;
	font-family : verdana,helvetica, arial, sans-serif;
	margin-bottom : 0px;
}

H3 {
	font-weight : bold;
	font-size : 11pt;
	font-family : verdana,helvetica, arial, sans-serif;
}

H2 {
	font-weight : bold;
	font-size : 13pt;
	font-family : arial,helvetica, sans-serif;
	margin-top : 0px;
	margin-bottom : 0px;
}

H1 {
	font-weight : bold;
	font-size : 18pt;
	font-family : arial,helvetica,sans-serif;
	margin-bottom : 2px;
	margin-top : 15px;
}


.manage_info {
	margin-top:5px;
	margin-bottom:0px;
	font-weight:normal;
	font-size:20pt;
}

.selected{
	 color: #ffffff;
	 font-size : 9pt;
	 background-color:#264C67;
	 border-style:solid;
	 border-bottom-width:1px;
	 border-top-width:1px;
	 border-left-width:0px;
	 border-right-width:0px;
	 border-color:#FFB300;
	 text-decoration:none;
}
A	{
	text-decoration: "none";
}
A:link {
	color: #003FEB;
}
A:visited {
	color: #464399; 
}
A:hover {
	color: #FF8400; 
}
