TD {
	FONT: 13px sans-serif;
}
BODY 	{
	FONT: 13px sans-serif;
	BORDER: 0;
	BACKGROUND-COLOR: buttonface;
	margin: 5px;
	padding: 2px;
}
FORM {
	border: 0px;
	padding: 0px;
	margin: 0px;
}
SELECT, INPUT {
	font: 13px sans-serif;
	padding: 0px;
	margin: 0px;
}
A {
	text-decoration: none;
}
.required {
	font-weight: bold;
}