#resultSet table {
	width: 100%;
}

#resultSet .yui-dt-col-unlock {
	width: 70px;
}
#resultSet .yui-dt-col-unlock input {
	margin: 0px auto;
}
	
#resultSet td .yui-dt-liner {
	padding: 0px;
}

#resultSet label {
	margin: auto;
	padding: 4px 10px;
	margin-right: -20px;
}
#resultSet .highlight td {
	background-color: #D0DCF7;
}
.select_all {
	float: right;
	margin-right: 0px;
	margin-top: 10px;
}

#sectiondata {
	position: static;
	margin-top: 10px;
}

#tabsdata {
	position: static;
	width: 600px;
	margin: 0px auto;
}

#header .typeicon {
	position: absolute;
	z-index: 2;
}
#header {
	overflow: visible;
	width: 620px;
	position: relative;
	border: 1px solid #808080;
	line-height: 32px;
}

#wgWizForm {
	width: 620px;
	margin: 0px auto;
	margin-top: 50px;
}

div.buttons div.right {
	position: static;
	margin-top: 10px;
}

html,body {
	height: auto;
}