BODY {
	background-color : #F6EEE6;
	margin: 0px;
}

TH,TD,LI,P,BODY {
	font-size : 13px;
	font-family : verdana,helvetica, arial, sans-serif;
}

H4 {
	font-weight : bold;
	font-size : 10pt;
	font-family : verdana,helvetica, arial, sans-serif;
	margin-bottom : 0px;
}

H3 {
	font-weight : bold;
	font-size : 11pt;
	font-family : verdana,helvetica, arial, sans-serif;
}

H2 {
	font-weight : bold;
	font-size : 13pt;
	font-family : arial,helvetica, sans-serif;
	margin-top : 0px;
	margin-bottom : 0px;
}

H1 {
	font-weight : bold;
	font-size : 18pt;
	font-family : arial,helvetica,sans-serif;
	margin-bottom : 2px;
	margin-top : 15px;
}

.manage_info {
	margin-top:5px;
	margin-bottom:0px;
	font-weight:normal;
	font-size:20pt;
}

A	{
	text-decoration: none;
}
A:link {
	text-decoration: none;
	color: #003FEB;
}
A:visited {
	text-decoration: none;
	color: #464399; 
}
A:hover {
	text-decoration: none;
	color: #FF8400; 
}
A.selected {
	border: inset 1px;
}
A.unselected {
	border: outset 1px;
}
.data {
	width: 100%;
	background-color: #F6EEE6;
	padding: 0px 4px 0px 4px;
}
#details {
	float: right;
	border: dotted 1px black;
	width: 200px;
	padding: 5px;
	margin-bottom: 5px;
	background-color: white;
}
#summary {
	height: 104px;
	overflow: auto;
	margin-bottom: 6px;
}
#sidebar {
	width: 205px;
	float: right;
	text-align: left;
	height: 100%;
	margin: 5px;
}
#infobox {
	border: dotted 1px black;
	width: 200px;
	padding: 5px;
	float: right;
	margin-bottom: 5px;
	background-color: white;
}
#object {
	padding-left: 50px;	
}
#icon {
	position: absolute;
	top: 4px;
	left: 4px;
}
#topdiv {
	height: 180px;
}
.tbutton_left {
	float: left;
	padding: 2px;
	border: 1px solid;
	border-color: buttonface;
}
.tbutton_left_hover {
	float: left;
	padding: 2px;
	border: 1px solid buttonhighlight;
	border-bottom-color: buttonshadow;
	border-right-color: buttonshadow;
}
.tbutton_left_pressed {
	float: left;
	padding: 2px;
	border: 1px solid buttonhighlight;
	border-top-color: buttonshadow;
	border-left-color: buttonshadow;
}
.tbutton_right {
	float: right;
	padding: 2px;
	border: 1px solid;
	border-color: buttonface;
}
.tbutton_right_hover {
	float: right;
	padding: 2px;
	border: 1px solid buttonhighlight;
	border-bottom-color: buttonshadow;
	border-right-color: buttonshadow;
}
.tbutton_right_pressed {
	float: right;
	padding: 2px;
	border: 1px solid buttonhighlight;
	border-top-color: buttonshadow;
	border-left-color: buttonshadow;
}
.spacer {
	width: 50px;
	float: left;
}