TD {
    FONT: 11px tahoma, sans-serif;
}
BODY    {
    FONT: 11px tahoma,sans-serif;
    BORDER: 0px;
	BORDER-LEFT: 1px inset;
	BORDER-RIGHT: 1px inset;
    BACKGROUND-COLOR: white;
	margin: 0px;
	padding: 0px;
	height: 100%;
}
#nodes {
	margin: 0px;
	padding: 0px;
	border: 0px;
	height: 100%;
	width: 100%;
	overflow: auto;
}
.node {
	margin: 0px;
	padding: 0px;
	border: 0px;
	padding-left: 3px;
}
.row {

}
.item {
	line-height: 20px;
	position: relative;
	left: 0px;
}
A	{
	text-decoration: none;
	color: black;
}
A:hover	{
	text-decoration: underline;
	color: black;
}
.editable {
	color: black;
      
}
.editable .selected {
	background-color: #333399;
	color: white;
}
.fixed {
	color: #999999;
}
.fixed .selected {
	color: #CCCCCC;
	background-color: #333399;
}
.invisible {
	font-style: italic;
}
.row {
	height: 20px;
}
IMG.icon {
	padding: 0px;
	border: 0px;
	margin: 0px;
	margin-left: -3px;
	margin-right: 3px;
	width:20px;
	height:20px
}
IMG.flag {
	margin-top: 5px;
}