/*
	FIXME: Checkbox/radio labels beter uitlijnen
*/
html, body {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #EEEEEE;
	font-size : 11px;
	font-family : verdana,helvetica, arial, sans-serif;
}
TH,TD,LI,P,BODY,DIV {
	font-size : 11px;
	font-family : verdana,helvetica, arial, sans-serif;
	line-height: 13px;
}
a img {
	border: 0px;
}
.required::after {
	content: " *";
	color: red;
}
#header {
	height: 32px;
	width: 100%;
	xbackground:url("../images/sprite.png") repeat-x 0 0;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #808080;	
	text-align: right;
	vertical-align: middle;
	line-height: 24px;
	font-weight: bold;
	overflow: hidden;
}
#header .text {
	margin-right: 50px;
}
#header .typeicon {
	position: fixed;
	top: 6px;
	right: 10px;
}
#header .logo {
	width: 220px;
	height: 30px;
	float: left;
	text-align: left;
	color: black;
	text-decoration: none;
}
#header .logo a {
	color: black;
	text-decoration: none;
}
#header .logo img {
	margin-top: 2px;
	margin-left: 5px;
	max-height: 29px;
	border: 0px;
}
#header .ariadne {
	font-weight: bold;
	font-family: arial, verdana;
	font-size: 14px;
	position: absolute;
	top: 5px;
	left: 58px;
}
#header .ariadne_sub {
	font-weight: normal;
	font-size: 10px;
	font-family: verdana,helvetica, arial, sans-serif;
	position: absolute;
	top: 17px;
	left: 58px;
	color: #de5227;
}
#sections {
	position: fixed;
	top: 32px;
	bottom: 40px;
	left: 0px;
	width: 120px;
	z-index: 5;
}
#sections.tabs {
	top: 62px;
}
#sections a {
	display: block;
	border: 1px solid #808080;
	background-color: #CCCCCC;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: auto;
	width: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	color: black;
	text-decoration: none;
}
#sections a:hover, #sections a.current:hover {
	border: 1px solid #4A6799;
	background-color: #FFFFFF;
}
#sections a.current {
	border: 1px solid #808080;
	background-color: #FFFFFF;
	font-weight: bold;
	padding-right: 9px;
	border-right: 1px solid #FFFFFF;
}
#sections a.current:hover {
	border-right: 1px solid #FFFFFF;
}
#sections a img {
	border: 0px;
}
#sections span.title {
	display: block;
}
#tabsdata {
        background-color: #FFFFFF;
	padding: 10px;
	border: 1px solid #808080;
	position: fixed;
	left: 120px;
	right: 10px;
	bottom: 40px;
	top: 42px;
	overflow: auto;
}
.tabs #tabsdata {
	top: 70px;
}
.nosections #tabsdata {
	left: 10px;
}
#tabsdata fieldset {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #aaa;
	margin-bottom: 10px;
}
#tabsdata label {
	display: block;
	width: 100%;
	margin-top: 10px;
}
#tabsdata .button,
div.buttons input,
div.buttons button { 
	background:url("../images/sprite.png") repeat-x 0 0;
	border: 1px solid #808080;
}
#tabsdata fieldset.browse .browse_wrapper .field {
	padding-right: 90px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#tabsdata fieldset.browse input {
	float: left;
	margin-right: 10px;
}
#tabsdata fieldset.browse .button {
	width: 70px;
	position: absolute;
	right: -12px;
}
#tabsdata fieldset.browse .checkbox label {
	line-height: 18px;
}
div.buttons div.right {
	position: fixed;
	bottom: 10px;
	right: 10px;
	text-align: right;
}
div.buttons div.left {
	position: fixed;
	bottom: 10px;
	left: 10px;
	text-align: left;
}
div.buttons div.center {
	position: fixed;
	bottom: 10px;
	left: 0px;
	width: 100%;
	text-align: center;
}
#sectiondata {
	position: fixed;
	top: 43px;
	left: 120px;
	right: 10px;
	bottom: 40px;
}
#sectiondata img.typeicon { /*not present in vedor wizard.css*/
	float: left;
	clear: both;
	margin-right: 5px;
}
#sectiondata.nosections {
	left: 10px;
}
#tabnav {
	position: absolute;
	list-style: none;
	padding: 0px;
	margin: 0px;
	height: 30px;
	width: 100%;
	border-left: 1px solid #808080;
	z-index: 5;
}
#tabnav li {
	margin: 0px;
	float: left;
	padding: 0px;
}
#tabnav a {
        background:url("../images/sprite.png") repeat-x scroll 0px 0px;
	height: 16px;
	padding: 5px;
	background-color: #CCCCCC;
	border-right: 1px solid #808080;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
	display: block;
	text-decoration: none;
	color: black;
}
#tabnav a:hover {
        background:url("../images/sprite.png") repeat-x scroll 0px -1700px;
	background: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
#tabnav a img {
	border: 0px;
}
#tabnav .tab-selected a {
	border-bottom: 1px solid #FFFFFF;
	background:url("../images/sprite.png") repeat-x scroll 0px -1700px;
	background: #FFFFFF;
}
#tabsdata .field {
	width: 100%;
	height: auto;
	position: relative;
	margin-bottom: 10px;
	clear: left;
}
#tabsdata input {
	display: block;
}
#tabsdata input.inputline {
	width: 100%;
}
#tabsdata .inputbox {
	width: 100%;
}
#tabsdata select.selectline {
	width: 100%;
}
#tabsdata textarea {
	height: 6em;
}
.flag {
	position: absolute;
	top: 0px;
	right: 0px;
}
#tabsdata .radio input,
#tabsdata .checkbox input,
#tabsdata .inputradio  {
	display: inline;
}
#tabsdata .radio label,
#tabsdata .checkbox label,
#tabsdata .inputradio label {
	display: inline;
}
#tabsdata div.keepimage {
	margin-left: 25px;
	width: auto;
}
#tabsdata div.keepimage input {
	display: inline;
}
#tabsdata div.left,
#tabsdata div.right {
	width: 50%;
	float: left;
}
#tabsdata label.ontop {
	display: block;
}
#tabsdata .multiselect {
	height: 5em;
}
#tabsdata div.left div.field, #tabsdata div.right div.field {
	margin-right: 10px;
	width: auto;
}
#tabsdata div.left select, #tabsdata div.right select {
	width: 100%;
}
#tabsdata div.file_uploaded {
	margin-top: -19px;
	margin-left: 5px;
}
#tabsdata div.inputline input:nth-child(1) {
        width: 65%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin: 0px;
}
#tabsdata div.inputline input:nth-child(2) {
        width: 35%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin: 0px;
}
.progressbar,
#progressbar {
	height: 30px;
	position: absolute;
	left: 9px;
	right: 9px;
	border: 1px solid #808080;
	background : url("../images/sprite.png") repeat-x scroll 0px -100px;
	margin-top: 20px;
}
#progress,
.progressbar .progress {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0%;
	background : url("../images/sprite.png") repeat-x scroll 0px -1400px;
}
.progressbar .progress_text,
#progress_text {
	color: white;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
}
#progress_verbose {
	position: fixed;
	left: 50%;
	right: 20px;
	top: 60px;
	bottom: 60px;
	border: 1px solid #808080;
	overflow: auto;
	background-color: white;
	padding: 5px;
	margin-left: 5px;
}
div.sourcepath {
	position: relative;
	padding: 0px 9px;
	height: 55px;
	margin-bottom: 5px;
}
div.sourcepath .progressbar {
	margin-top: 5px;
}
#progressbars {
	position: fixed;
	left: 20px;
	margin-right: 5px;
	right: 50%;
	border: 1px solid #808080;
	top: 60px;
	padding: 5px;
	bottom: 60px;
	overflow: auto;
}
#progressbar .progressbar {
	left: 0px;
	right: 0px;
}
#data.delete .typeicon,
#data.delete .overlay_typeicon,
#data.export .typeicon,
#data.export .overlay_typeicon,
#data.browse .typeicon,
#data.browse .overlay_typeicon {
	vertical-align: middle;
	position: relative;
	margin-right: 5px;
	display: block;
	float: left;
}
#data.delete .overlay_typeicon,
#data.export .overlay_typeicon,
#data.browse .overlay_typeicon {
	margin-left: -31px;
}
#data.delete .name,
#data.export .name,
#data.browse .name {
	margin-left: 27px;
}
#data.delete .path,
#data.export .path,
#data.browse .path {
	margin-left: 27px;
	margin-bottom: 10px;
}
#data.delete .checkfailed,
#data.export .checkfailed,
#data.browse .checkfailed {
    border: 1px solid red;
    padding: 5px;
    padding-bottom: 0px;
    margin-bottom: 5px;
}
#data.delete span.error,
#data.export span.error,
#data.browse span.error {
    display: block;
    margin-bottom: 5px;
}
/*tabsdata items not in vedor wizard.css*/
#tabsdata fieldset.formField div.formField {
	clear: right;
}
#tabsdata div.formField {
	padding-bottom: 2px;
}
#tabsdata fieldset.formField  input {
	display: inline;
	width: 85%;
} 
#tabsdata fieldset.formField button.formFieldListDelete,
#tabsdata fieldset.formField button.formFieldListAdd {
	float: right;
}
.clear {
	clear: both;
}
