html,body {
	margin:0;
	padding:0;
	height: 100%;
}

#treeDiv {
	background: #ffffff;
	font-size: 11px;
	margin-left: 5px;
	margin-top: 3px;
}

#treeDiv a, #treeDiv a:visited {
	text-decoration: none;
	color: black;
	padding-left: 3px;
	white-space: nowrap;
}

#treeDiv a img.tree_icon {
	border: 0px;
	height: 20px;
	width: 20px;
	margin-left: 3px;
}

#treeDiv .tree_nodename {
	line-height: 20px;
}

.treelogo {
	background-color: white;
	height: 32px;
	border-bottom: 1px solid buttonshadow;
	overflow: hidden;
}

.treelogo img {
	margin: 3px;
}

#treecontrol {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: buttonface;
	border-top: 1px solid buttonshadow;
	height: 27px;
	padding-top: 5px;
	font-size: 10px;
}

#treecontrol img {
	border: 0px;
	margin-right: 3px;
}

#treecontrol a {
	text-decoration: none;
	color: black;
	margin-left: 5px;
}
