BODY			{margin: 0; border: 0}

#menu			{cursor: default; position: absolute; top: 0; left: 0;
				background: buttonface; border: 1 solid buttonface;}
#menu .menu		{background: buttonface; border: 2 outset buttonhighlight; position: absolute}

#menu TD		{font: menu; height: 20;}
#menu .root		{border: 1 solid buttonface; padding: 1; padding-left: 7; padding-right: 7; margin: 6;}
#menu .icon		{text-align: center;}

#menu .disabled	{color: buttonshadow;}
#menu .more		{font-family: webdings; width: 20; text-align: right;}
#menu #handle	{border-left: 1 solid buttonhighlight;
				border-right: 1 solid buttonshadow;
				border-top: 1 solid buttonhighlight;
				border-bottom: 1 solid buttonshadow;
				padding: 0;
				margin: 0;
				cursor: move;}

#outerDiv		{position: absolute; overflow:auto;
				z-index: -1;
				height:90%; width:100%;
				border: 2 inset white;}