  /******************************************************************
   {template/function}				   Muze Ariadne v2.0b
   ------------------------------------------------------------------
   Called by '{template/function}' (from file '{filename}')
   Arguments: {$arguments}
   (Grant needed: {grant})
   (Interface/Widget: {all/management/browse})
   (Global variables: {vars})

   {short description}
   {argument formats and behaviour}
   {result format}

  ******************************************************************/
