	/******************************************************************
	 {template/function}                                   Muze Ariadne
	 ------------------------------------------------------------------
	 Arguments: none
	 Grant needed: read
	 Global variables: none


	 
	 no result

	******************************************************************/
